<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificate Generator</title>
    <style>.p{
        margin-top: 10px;
    }
    </style>
</head>
<body>
    <form method="POST", action="/single">
        
        <p>Name: <input name="name" type="text">
        <input type="submit" value="Generate"></p>
    </form>
<p>---------------------------------or------------------------------------------</p>
    <form action = "/list_upload" method = "POST" 
         enctype = "multipart/form-data">
         <p>List of names in txt</p><input type = "file" name = "file" />
         <input type = "submit" value='Generate'/>
      </form>
    
    
</body>
</html>