<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List upload</title>
</head>

<body>
    <form action="/list" method="POST" enctype="multipart/form-data">
        <p>Mass List Csv file</p><br>
        <input type="file" name="file" />
        <input type="submit" value='Generate' />
        <p> This takes a while</p>
    </form>

</body>

</html>